<div class="container">
  <h1><%= @cocktail.name%></h1>
  <% if @cocktail.doses == [] %>
    <p>No ingredients found</p>
  <% else %>
    <% @cocktail.doses.each do |dose|%>
    <p> <%= dose.ingredient.name %> - <%= dose.description %> <%= link_to ('<i class="fas fa-trash"></i>').html_safe, dose_path(dose), method: :delete %></p>
    <% end %>
  <% end %>
  <%= link_to 'Add dose', new_cocktail_dose_path(@cocktail)  %>  <%= link_to 'Add review', new_cocktail_review_path(@cocktail)  %>
  <h4>Recent reviews</h4>
    <ul class="list-group">
      <% @cocktail.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <%= review.description %>
            <span class="badge badge-primary badge-pill">
              <% counter = 0 %>
              <% 5.times do %>
                <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                <% counter += 1 %>
              <% end %>
            </span>
          </div>
          <div>
            <%= link_to 'Delete review', review_path(review), method: :delete %>
          </div>
        </li>
      <% end %>
    </ul>
</div>
